---
import Layout from "../../layouts/Page.astro";
import TopicList from "../../components/TopicList.astro";
---

<Layout
  title="Temas"
  description="Una visión general de todos los temas en este blog."
>
  <h1>Todos los temas de este blog</h1>
  <TopicList topics="all" />
</Layout>
