---
import Layout from "../../layouts/Page.astro";
import CategorieList from "../../components/CategorieList.astro";
---

<Layout
  title="Categorías"
  description="Una visión general de todos las categorías en este blog."
>
  <h1>Todos las categorías de este blog</h1>
  <CategorieList categories="all" />
</Layout>
