---
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Temas"
  description="Una visión general de todos los temas en este blog."
>
  <h1>404 - no encontrado :(</h1>
  <div class="not-prose">
    <a class="btn" href="/blog">Ir a la página de inicio</a>
  </div>
</Layout>
