---
import Layout from "../layouts/Page.astro";
---

<Layout
  title="Error 404"
  description="Página no encontrada."
>
  <h1>404 - no encontrado :(</h1>
  <div class="not-prose">
    <a class="btn" href="/blog">Ir a la página de inicio</a>
  </div>
</Layout>
