---
import Layout from "../layouts/Page.astro";
import Searchbar from "../components/Searchbar.astro";
---

<Layout title="Buscar" description="Busca por cualquier título, descripción or contenido.">
  <h1>Buscar</h1>
  <p>Busca por cualquier título, descripción or contenido. </p>
  <Searchbar />
</Layout>
